.pointer-cursor:hover{
    color: red;
}

.comment-container{
    background-color: var(--light-letters);
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px 10px;
}

.comment-text{
    font-size: 12px;
    color: var(--blurred-letters)
}