<div class="container-fluid">
    <div class="row">
      <div class="col-3">
      </div>
  
      <div class="col-6">
        <div class="container mt-5">
            <div class="col-md mx-auto">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                        <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="45" height="45">
                      </div>
                      <div class="col-md-11">
                        <h5 class="card-title">Tiêu đề bài viết</h5>
                        <p class="card-text"><i class="bi bi-globe-americas"></i> 9 giờ trước</p>
                      </div>
                    </div>
                    <div class="border-top mt-2"></div>
                    <div class="mt-1 p-3">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptas unde eum ullam laboriosam neque veritatis nesciunt magni ea impedit, ipsa consectetur repellendus vitae odit voluptatum quis dicta provident quos.
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                          <i class="bi bi-hand-thumbs-up mx-3 pointer-cursor"></i>
                          <i class="bi bi-hand-thumbs-down pointer-cursor"></i>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3 d-flex justify-content-end">
                          <i class="bi bi-share pointer-cursor" style="margin-right: 15px;"> Share</i>
                        </div>
                    </div>
                    <div class="border-top mt-3"></div>
                    <div class="mb-3 mt-3">
                        <input type="text" class="form-control" id="textInput" placeholder="Comment ...">
                    </div>   
                     <!-- Comment  -->
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                              <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="30" height="30">
                            </div>
                            <div class="col-md-11 comment-container d-flex align-items-center justify-content-center">
                                <div class="col-md-10">
                                    <div class="content">
                                        <p class="card-text m-0 bold-text">JOHN SMITH</p>
                                        <p class="card-text m-0">Yes, sir</p>
                                        <div class="row mt-2 comment-text">
                                            <div class="col-md-3 d-flex">
                                                <div class="pointer-cursor"><i class="bi bi-star"></i> Like</div>
                                                <div class="pointer-cursor" style="margin-left: 10px;"><i class="bi bi-reply"></i> Reply</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <i class="bi bi-clock"></i> 10 phút trước
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-1"></div>
                            <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                              <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="30" height="30">
                            </div>
                            <div class="col-md-10 comment-container d-flex align-items-center justify-content-center">
                                <div class="col-md-10">
                                    <div class="content">
                                        <p class="card-text m-0 bold-text">JACK</p>
                                        <p class="card-text m-0">HI, John, how are you?</p>
                                        <div class="row mt-2 comment-text">
                                            <div class="col-md-3 d-flex">
                                                <div class="pointer-cursor"><i class="bi bi-star"></i> Like</div>
                                                <div class="pointer-cursor" style="margin-left: 10px;"><i class="bi bi-reply"></i> Reply</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <i class="bi bi-clock"></i> 1 phút trước
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-1"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                              <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="30" height="30">
                            </div>
                            <div class="col-md-9 comment-container d-flex align-items-center justify-content-center">
                                <div class="col-md-10">
                                    <div class="content">
                                        <p class="card-text m-0 bold-text">JACK</p>
                                        <p class="card-text m-0">HI, John, how are you?</p>
                                        <div class="row mt-2 comment-text">
                                            <div class="col-md-3 d-flex">
                                                <div class="pointer-cursor"><i class="bi bi-star"></i> Like</div>
                                                <div class="pointer-cursor" style="margin-left: 10px;"><i class="bi bi-reply"></i> Reply</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <i class="bi bi-clock"></i> 1 phút trước
                                </div>
                            </div>
                        </div>
                    </div>
                      
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                              <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="30" height="30">
                            </div>
                            <div class="col-md-11 comment-container d-flex align-items-center justify-content-center">
                                <div class="col-md-10">
                                    <div class="content">
                                        <p class="card-text m-0 bold-text">LOI</p>
                                        <p class="card-text m-0">HNMMMM</p>
                                        <div class="row mt-2 comment-text">
                                            <div class="col-md-3 d-flex">
                                                <div class="pointer-cursor"><i class="bi bi-star"></i> Like</div>
                                                <div class="pointer-cursor" style="margin-left: 10px;"><i class="bi bi-reply"></i> Reply</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <i class="bi bi-clock"></i> 10 phút trước
                                </div>
                            </div>
                        </div>
                    </div>
                                     
                </div>
        </div>
      </div>
  
      <div class="col-3">
      </div>
    </div>
  </div>