.pointer-cursor:hover{
    color: red;
}

.comment-container{
    background-color: var(--light-letters);
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding: 10px 10px;
}

.comment-text{
    font-size: 12px;
    color: var(--blurred-letters)
}

.content-wrapper {
    max-width: 800px;
    font-size: 14px;
}

.time-comment{
    font-size: 11px;
}

.parent-class {
    margin-top: 2rem;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 13.666667%;
}