<div class="container-fluid">
    <div class="row">
      <div class="col-3">
      </div>
  
      <div class="col-6">
        <div class="container mt-5">
            <div class="col-md mx-auto">
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                        <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="45" height="45">
                      </div>
                      <div class="col-md-11">
                        <h5 class="card-title">{{postDto.title}}</h5>
                        <p class="card-text">
                            {{postDto.userName}} 
                            <i class="bi bi-globe-americas" style="margin-left: 10px;"></i> {{ formatDate(postDto.createDate) }}
                        </p>
                      </div>
                    </div>
                    <div class="border-top mt-2"></div>
                    <div class="mt-1 p-3">
                        {{postDto.content}}
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                          <i class="bi bi-hand-thumbs-up mx-3 pointer-cursor"></i>
                          <i class="bi bi-hand-thumbs-down pointer-cursor"></i>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3 d-flex justify-content-end">
                          <i class="bi bi-share pointer-cursor" style="margin-right: 15px;"> Share</i>
                        </div>
                    </div>
                    <div class="border-top mt-3"></div>
                    <div class="mb-3 mt-3">
                        <input (keyup.enter)="onEnterKeyPress(textInput.value)" #textInput type="text" class="form-control" id="textInput" placeholder="Comment ...">
                    </div>   

                    <!-- COMMENTS -->
                    <div class="content-wrapper">
                        <ng-template #List let-items>
                            <ul>
                                <li *ngFor="let item of items" [ngClass]="{ 'parent-class': isParent(item) }"> 
                                    <div class="mt-2">
                                      <div class="container">
                                        <div class="row">
                                            <div class="col-md-1 d-flex align-items-center justify-content-center pointer-cursor">
                                                <img class="img-fluid rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="avatar" width="30" height="30">
                                            </div>
                                            <div class="col-md-11 comment-container d-flex align-items-center justify-content-between">
                                                <div class="col-md-10">
                                                    <div class="content">
                                                        <p class="card-text m-0 bold-text">{{item.author}}</p>
                                                        <p class="card-text m-0">{{item.content}}</p>
                                                        <div class="row mt-2 comment-text">
                                                            <div class="col-md-3 d-flex">
                                                                <div class="pointer-cursor"><i class="bi bi-star"></i> Like</div>
                                                                <div class="pointer-cursor" style="margin-left: 10px;" (click)="focusOnInput(item.id)"><i class="bi bi-reply"></i> Reply</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 time-comment">
                                                    <i class="bi bi-clock"></i> {{formatHours(item.createDate)}}
                                                </div>
                                                <div class="close-button pointer-cursor" (click)="removeComment(item.id)"><i class="bi bi-x"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    </div>
                                    <ng-container *ngTemplateOutlet="List; context:{ $implicit: item.items }"></ng-container>
                                </li>
                            </ul>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="List; context:{ $implicit: commentPostDto | converter }"></ng-container>
                    </div>
            </div>
        </div>
      </div>
      <div class="col-3">
      </div>
    </div>
  </div>