<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/postApp/post']" [state]="{ key: token }">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/chatApp/chat']" [state]="{ key: token }" (click)="messageService.toggleChat()">Chat</a>
          </li>
        </ul>
        <a class="icon-chatbox pointer-cursor nav-link" (click)="showFederatedComponent()"><i class="bi bi-messenger"></i></a>
        <!-- Trong template của component hiện tại -->
        <ng-container #remoteContainer></ng-container>

        <a class="icon-chatbox pointer-cursor">
          <div class="dropdown">
            <a href="" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-bell-fill"></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </a>
        <div *ngIf="(authService.currentUser$ | async); else loginBlock">
          <form class="d-flex" role="search">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
                {{authService.getUsername()}} <span class="caret"></span>
              </button>
              <ul id="dropdown-basic" class="dropdown-menu dropdown-menu-dark" aria-labelledby="button-basic">
                <li role="menuitem">
                  <a class="dropdown-item pointer-cursor" [routerLink]="['/user-dashboard']" [state]="{ key: token }">
                    <i class="bi bi-gear"></i>
                    Dashboard
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item pointer-cursor" (click)="logout()">
                    <i class="bi bi-box-arrow-right"></i>
                    Sign out
                  </a>
                </li>
              </ul>
            </div>
          </form>
        </div>
        <ng-template #loginBlock>
          <form class="d-flex" role="search">
            <a class="btn btn-outline-success" type="submit" (click)="login()">Login</a>
            <a class="btn btn-outline-success ms-2" type="submit" (click)="logout()">Logout</a>
          </form>
        </ng-template>
      </div>
      
    </div>
  </nav>