.card-text{
    color: var(--blurred-letters)
}

.pointer-cursor-hover:hover{
    color: red;
}

.context-text-custom{
    line-height: 35px;
    max-height: 200px;
}

.max-lines {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}